{"openapi":"3.0.0","info":{"title":"EaaS API","description":"***Undergoing rearchitect/rewrite***\n\nInspired by Hashicorp Vault Transit, powered by Bitwarden Secrets Manager, node:crypto, and Web Crypto and runs fully on Cloudflare Workers. No data stored - just key management with pass-through encrypt/decrypt, and optional [Noise Pipes](https://noiseprotocol.org/noise.html) for MITM/TLS inspection protection.","contact":{"name":"Issues","url":"https://github.com/autosec-network/eaas/issues"},"version":"0.0.0"},"servers":[{"url":"https://api.eaas.autosec.network/v0"},{"url":"https://{hostvar1}.api.eaas.autosec.network/v0","variables":{"hostvar1":{"default":"preview"}}}],"security":[{"ApiToken":[]}],"components":{"securitySchemes":{"GithubPublicKeyIdentifier":{"type":"apiKey","in":"header","name":"Github-Public-Key-Identifier"},"GithubPublicKeySignature":{"type":"apiKey","in":"header","name":"Github-Public-Key-Signature"},"ApiToken":{"type":"http","scheme":"bearer"}},"schemas":{"EncryptOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"type":"object","properties":{"value":{"type":"string","description":"The ciphertext, encoded per the request `outputFormat`: `0.<dk_id>.<algorithm>.<bitStrength>.<preamble>` followed by one or more independently signed frames","example":"0.MDAw….cHJlYW1ibGU.ZnJhbWUw.ZnJhbWUx"},"reference":{"type":"string","description":"The `reference` from the request, if one was sent"}},"required":["value"]}},"required":["success","result"]},"EncryptInput":{"oneOf":[{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"The keyring to encrypt with, case-insensitive"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"The encoding of the returned ciphertext","example":"base64"},"input":{"type":"string","description":"The data to encrypt, in `inputFormat`","example":"Hello world"},"inputFormat":{"type":"string","enum":["utf8","hex","base64","base64url"],"description":"The encoding of `input`","example":"utf8"},"reference":{"type":"string","description":"An opaque caller-supplied string, echoed back on the result, to correlate a response with the request that produced it"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm"],"description":"An AES mode, whose key strength you choose","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"The cipher key strength in bits","example":"256"}},"required":["keyringName","outputFormat","input","inputFormat","algorithm","bitStrength"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"The keyring to encrypt with, case-insensitive"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"The encoding of the returned ciphertext","example":"base64"},"input":{"type":"string","description":"The data to encrypt, in `inputFormat`","example":"Hello world"},"inputFormat":{"type":"string","enum":["utf8","hex","base64","base64url"],"description":"The encoding of `input`","example":"utf8"},"reference":{"type":"string","description":"An opaque caller-supplied string, echoed back on the result, to correlate a response with the request that produced it"},"algorithm":{"type":"string","enum":["chacha20-poly1305"],"description":"ChaCha20-Poly1305, which has no configurable key strength","example":"chacha20-poly1305"}},"required":["keyringName","outputFormat","input","inputFormat","algorithm"],"additionalProperties":false}]},"DecryptOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"type":"object","properties":{"value":{"type":"string","description":"The recovered plaintext, encoded per the request `outputFormat`","example":"Hello world"},"reference":{"type":"string","description":"The `reference` from the request, if one was sent"}},"required":["value"]}},"required":["success","result"]},"DecryptInput":{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"The keyring the ciphertext was encrypted with, case-insensitive"},"input":{"type":"string","minLength":1,"description":"The ciphertext, as produced by the encrypt endpoint","example":"0.MDAw….cHJlYW1ibGU.ZnJhbWUw.ZnJhbWUx"},"outputFormat":{"type":"string","enum":["utf8","hex","base64","base64url"],"description":"The encoding of the returned plaintext","example":"utf8"},"reference":{"type":"string","description":"An opaque caller-supplied string, echoed back on the result, to correlate a response with the request that produced it"}},"required":["keyringName","input","outputFormat"]}},"parameters":{}},"paths":{"/gss/alert":{"post":{"tags":["GitHub Secrets Scanning"],"security":[{"GithubPublicKeyIdentifier":[],"GithubPublicKeySignature":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"token":{"type":"string","minLength":1},"type":{"type":"string","minLength":1},"url":{"type":"string","minLength":1,"format":"uri"},"source":{"type":"string","enum":["content","commit","pull_request_title","pull_request_description","pull_request_comment","issue_title","issue_description","issue_comment","discussion_title","discussion_body","discussion_comment","commit_comment","gist_content","gist_comment","wiki_content","wiki_commit","npm","manual_submission","unknown"]}},"required":["token","type","source"]},"minItems":1}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"token_hash":{"type":"string"},"token_type":{"type":"string","minLength":1},"label":{"type":"string","enum":["true_positive","false_positive"]}},"required":["token_hash","token_type","label"]},"minItems":1}}}}}}},"/apikeys/{token_id}":{"delete":{"tags":["API Key Management"],"description":"Delete a specific API Key by its token ID. Requires Admin permissions.","parameters":[{"schema":{"type":"string","minLength":22,"maxLength":22,"format":"base64url"},"required":true,"name":"token_id","in":"path"}],"responses":{"200":{"description":"API Key successfully deleted.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["success","message"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"404":{"description":"API Key not found.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}},"get":{"tags":["API Key Management"],"description":"Get a specific Api Key by its token ID.","parameters":[{"schema":{"type":"string","minLength":22,"maxLength":22,"format":"base64url"},"required":true,"name":"token_id","in":"path"}],"responses":{"200":{"description":"Returns the specific API key if permissions allow access.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Name for the API key"},"expires":{"type":"string","nullable":true,"format":"date-time","description":"Expiration date and time. Defaults to 90 days from now","example":"1970-01-01T00:00:00.000Z"},"keyringsPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"apikeysPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"keyrings":{"type":"object","additionalProperties":{"type":"object","properties":{"r_datakeys":{"type":"string","enum":["None","Read","Write","Admin"],"default":"Read"},"r_encrypt":{"type":"boolean","default":true},"r_decrypt":{"type":"boolean","default":false},"r_rewrap":{"type":"boolean","default":true},"r_sign":{"type":"boolean","default":true},"r_verify":{"type":"boolean","default":true},"r_hmac":{"type":"boolean","default":true}},"description":"Permissions for the API key"},"default":{}},"token_id":{"type":"string","minLength":22,"maxLength":22,"format":"base64url"},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"expired":{"type":"boolean"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"enabled":{"type":"boolean","description":"Whether the API key is active. A disabled key fails authentication without being deleted"}},"required":["name","token_id","created","lastRotation","expired","lastModified","enabled"]}}}}}}},"/apikeys":{"get":{"tags":["API Key Management"],"description":"Get a list of Api Keys.","responses":{"200":{"description":"Depending on key permissions, list all api keys, or fallback to itself.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Name for the API key"},"expires":{"type":"string","nullable":true,"format":"date-time","description":"Expiration date and time. Defaults to 90 days from now","example":"1970-01-01T00:00:00.000Z"},"keyringsPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"apikeysPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"keyrings":{"type":"object","additionalProperties":{"type":"object","properties":{"r_datakeys":{"type":"string","enum":["None","Read","Write","Admin"],"default":"Read"},"r_encrypt":{"type":"boolean","default":true},"r_decrypt":{"type":"boolean","default":false},"r_rewrap":{"type":"boolean","default":true},"r_sign":{"type":"boolean","default":true},"r_verify":{"type":"boolean","default":true},"r_hmac":{"type":"boolean","default":true}},"description":"Permissions for the API key"},"default":{}},"token_id":{"type":"string","minLength":22,"maxLength":22,"format":"base64url"},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"expired":{"type":"boolean"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"enabled":{"type":"boolean","description":"Whether the API key is active. A disabled key fails authentication without being deleted"}},"required":["name","token_id","created","lastRotation","expired","lastModified","enabled"]}}}}},"401":{"description":"Unauthorized: the provided API key does not exist, or has been destroyed.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}},"/keyrings":{"get":{"tags":["Keyring Management"],"description":"Get a list of keyrings.","responses":{"200":{"description":"Depending on key permissions, list all keyrings, or fallback to those the key has access to.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"key":{"anyOf":[{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":1280},"hash":{"type":"string","enum":["sha1","md5-sha1","DSA-SHA1","RSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":2048},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":3072},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":4096},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":256},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":384},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":521},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["hmac"]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ed25519","x25519"]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":512},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":768},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":1024},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":44},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":65},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":87},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}],"default":512},"hash":{"type":"string","enum":["sha1","DSA-SHA","DSA-SHA1","RSA-SHA1","sha224","RSA-SHA224","sha256","RSA-SHA256","sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}],"default":1024},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]}]},"rotation":{"type":"object","properties":{"time":{"type":"object","properties":{"enabled":{"type":"boolean"},"cron":{"type":"array","items":{"type":"string","minLength":1,"default":"0 0 1 1 *"}},"next":{"type":"string","nullable":true,"format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["enabled","cron","next"]},"count":{"type":"object","properties":{"enabled":{"type":"boolean"},"threshold":{"type":"string","nullable":true,"pattern":"^\\d+$","default":"4294967296"},"current":{"type":"string","pattern":"^\\d+$","example":"0"}},"required":["enabled","current"]},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["time","count","lastRotation"]},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["name","key","rotation","created","lastModified"]}}}}}}}},"/random":{"post":{"tags":["Free"],"security":[],"description":"This endpoint returns high-quality random bytes of the specified length","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"bytes":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":65536,"description":"Specifies the number of bytes to return","example":32},"format":{"type":"string","enum":["hex","base64","base64url","raw"],"description":"Specifies the output encoding"},"source":{"type":"string","enum":["lavarand","platform","all"],"default":"lavarand","description":"Specifies the source of the requested bytes. `lavarand`, the default, sources from Cloudflare's physical sources of entropy. `platform` sources bytes from the platform's entropy source. `all` mixes bytes from all available sources."},"sink":{"type":"boolean","default":false,"description":"When true, continuously streams random bytes in chunks of the specified `bytes` size until the client disconnects. Uses `application/octet-stream` for `raw` format, or `text/plain` with each line containing a formatted chunk."}},"required":["bytes","format"]}}}},"responses":{"200":{"description":"Returns high-quality random bytes","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"string","example":"0000000000000000000000000000000000000000000000000000000000000000"},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="},{"type":"string","format":"base64url","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}]}},"required":["success","result"]}]}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"text/plain":{"schema":{"type":"string","description":"Streaming text output of formatted random bytes, one chunk per line"}}}}}}},"/stats/language":{"get":{"tags":["Stats"],"security":[],"description":"Returns the top 20 browser-reported languages and their percentage share of visitor sessions. Each session is counted once to avoid inflating individual users, and results are weighted to account for adaptive sampling.","responses":{"200":{"description":"Languages sorted by share of sessions, from most to least common.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","minLength":1,"example":"en"},"trafficPercentage":{"type":"number","minimum":0,"maximum":100}},"required":["language","trafficPercentage"]},"minItems":1,"maxItems":20}}}}}}},"/stats/platform/minute":{"get":{"tags":["Stats"],"security":[],"description":"Raw feed of individual crypto operations, newest first, over the last minute.","responses":{"200":{"description":"Individual operations, newest first, one line per WAE data point (already collapsed by the writer - see `count`).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"operation":{"type":"string","enum":["encrypt","decrypt","sign","verify","hmac","hash","random"]},"algorithm":{"type":"string","nullable":true,"minLength":1,"example":"AES-GCM"},"iata":{"type":"string","minLength":3,"maxLength":3,"example":"SFO"},"latitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"37.619806"},"longitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"-122.374821"},"location":{"type":"string","minLength":1,"example":"San Francisco, CA, US"},"size":{"type":"string","enum":["256B","1KiB","4KiB","16KiB","64KiB","128KiB","256KiB","512KiB","1MiB","4MiB","16MiB","64MiB","128MiB","256MiB","512MiB","1GiB","4GiB","4GiB+"],"example":"4KiB"},"count":{"type":"number","minimum":0}},"required":["timestamp","operation","algorithm","iata","latitude","longitude","location","size","count"]},"maxItems":60000}}}}}}},"/stats/platform/hour":{"get":{"tags":["Stats"],"security":[],"description":"Crypto operation volume per Cloudflare PoP over the last hour. All timestamps are GMT.","responses":{"200":{"description":"Total operations over the window, keyed by PoP and broken down by operation type.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{"latitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"37.619806"},"longitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"-122.374821"},"location":{"type":"string","minLength":1,"example":"San Francisco, CA, US"},"operations":{"type":"object","properties":{"encrypt":{"type":"integer","minimum":0},"decrypt":{"type":"integer","minimum":0},"sign":{"type":"integer","minimum":0},"verify":{"type":"integer","minimum":0},"hmac":{"type":"integer","minimum":0},"hash":{"type":"integer","minimum":0},"random":{"type":"integer","minimum":0}}}},"required":["latitude","longitude","location","operations"]}}}}}}}},"/stats/platform/day":{"get":{"tags":["Stats"],"security":[],"description":"Crypto operation volume per Cloudflare PoP over the last day. All timestamps are GMT.","responses":{"200":{"description":"Total operations over the window, keyed by PoP and broken down by operation type.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{"latitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"37.619806"},"longitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"-122.374821"},"location":{"type":"string","minLength":1,"example":"San Francisco, CA, US"},"operations":{"type":"object","properties":{"encrypt":{"type":"integer","minimum":0},"decrypt":{"type":"integer","minimum":0},"sign":{"type":"integer","minimum":0},"verify":{"type":"integer","minimum":0},"hmac":{"type":"integer","minimum":0},"hash":{"type":"integer","minimum":0},"random":{"type":"integer","minimum":0}}}},"required":["latitude","longitude","location","operations"]}}}}}}}},"/stats/platform/week":{"get":{"tags":["Stats"],"security":[],"description":"Crypto operation volume per Cloudflare PoP over the last week. All timestamps are GMT.","responses":{"200":{"description":"Total operations over the window, keyed by PoP and broken down by operation type.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{"latitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"37.619806"},"longitude":{"type":"string","minLength":1,"pattern":"^([-+]?\\d+(\\.\\d+)?)$/i","example":"-122.374821"},"location":{"type":"string","minLength":1,"example":"San Francisco, CA, US"},"operations":{"type":"object","properties":{"encrypt":{"type":"integer","minimum":0},"decrypt":{"type":"integer","minimum":0},"sign":{"type":"integer","minimum":0},"verify":{"type":"integer","minimum":0},"hmac":{"type":"integer","minimum":0},"hash":{"type":"integer","minimum":0},"random":{"type":"integer","minimum":0}}}},"required":["latitude","longitude","location","operations"]}}}}}}}},"/encrypt":{"post":{"tags":["Encrypt"],"description":"Encrypt one payload against a keyring. Returns a self-describing ciphertext string.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EncryptInput"}}}},"responses":{"200":{"description":"The ciphertext","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EncryptOutput"}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"422":{"description":"No input could be encrypted.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}},"/encrypt/{keyringName}/{algorithm}/{bitStrength}":{"post":{"tags":["Encrypt"],"description":"Encrypt a file sent as the raw request body with an AES mode, streaming the ciphertext back as a download. The body is read and written a chunk at a time and is never held whole, so there is no size limit. The download is named from `X-Filename`, or from the `Content-Disposition` request header, with `.enc` appended.","parameters":[{"schema":{"type":"string","example":"my-keyring"},"required":true,"name":"keyringName","in":"path"},{"schema":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm"],"example":"aes-gcm"},"required":true,"name":"algorithm","in":"path"},{"schema":{"type":"string","enum":["128","192","256"],"example":"256"},"required":true,"name":"bitStrength","in":"path"},{"schema":{"type":"string","enum":["base64","base64url","hex"],"example":"base64"},"required":false,"name":"format","in":"query"}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary","description":"The file to encrypt as the raw request body"}}}},"responses":{"200":{"description":"The ciphertext download","content":{"text/plain":{"schema":{"type":"string","description":"The streamed ciphertext string"}}}},"400":{"description":"Bad request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}},"/encrypt/{keyringName}/{algorithm}":{"post":{"tags":["Encrypt"],"description":"Encrypt a file sent as the raw request body with ChaCha20-Poly1305, streaming the ciphertext back as a download. The body is read and written a chunk at a time and is never held whole, so there is no size limit. The download is named from `X-Filename`, or from the `Content-Disposition` request header, with `.enc` appended.","parameters":[{"schema":{"type":"string","example":"my-keyring"},"required":true,"name":"keyringName","in":"path"},{"schema":{"type":"string","enum":["chacha20-poly1305"],"example":"chacha20-poly1305"},"required":true,"name":"algorithm","in":"path"},{"schema":{"type":"string","enum":["base64","base64url","hex"],"example":"base64"},"required":false,"name":"format","in":"query"}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary","description":"The file to encrypt as the raw request body"}}}},"responses":{"200":{"description":"The ciphertext download","content":{"text/plain":{"schema":{"type":"string","description":"The streamed ciphertext string"}}}},"400":{"description":"Bad request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}},"/decrypt":{"post":{"tags":["Decrypt"],"description":"Decrypt one ciphertext produced by the encrypt endpoint.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecryptInput"}}}},"responses":{"200":{"description":"The plaintext","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecryptOutput"}}}},"400":{"description":"Malformed ciphertext.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"422":{"description":"A ciphertext failed verification.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}},"/decrypt/{keyringName}":{"post":{"tags":["Decrypt"],"description":"Decrypt a ciphertext file sent as the raw request body, streaming the plaintext back as a download. The body is read and written a chunk at a time and is never held whole, so there is no size limit. The algorithm and strength are read from the ciphertext itself. The download is named from `X-Filename`, or from the `Content-Disposition` request header, with a trailing `.enc` removed.","parameters":[{"schema":{"type":"string","example":"my-keyring"},"required":true,"name":"keyringName","in":"path"}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary","description":"The ciphertext file as the raw request body"}}}},"responses":{"200":{"description":"The streamed plaintext download","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"422":{"description":"The ciphertext failed verification.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}}}}}