{"openapi":"3.0.0","info":{"title":"EaaS API","description":"***Undergoing rearchitect/rewrite***\n\nInspired by Hashicorp Vault Transit, powered by Bitwarden Secrets Manager, node:crypto, and Web Crypto and runs fully on Cloudflare Workers. No data stored - just key management with pass-through encrypt/decrypt, and optional per-request wrapping for MITM/TLS inspection compliance.","contact":{"name":"Issues","url":"https://github.com/autosec-network/eaas/issues"},"version":"0.0.0"},"servers":[{"url":"https://api.eaas.autosec.network/v0"},{"url":"https://{hostvar1}.api.eaas.autosec.network/v0","variables":{"hostvar1":{"default":"preview"}}}],"security":[{"ApiToken":[]}],"components":{"securitySchemes":{"ApiToken":{"type":"http","scheme":"bearer"}},"schemas":{},"parameters":{}},"paths":{"/apikeys/{token_id}":{"delete":{"tags":["API Key Management"],"description":"Delete a specific API Key by its token ID. Requires Admin permissions.","parameters":[{"schema":{"type":"string","minLength":22,"maxLength":22},"required":true,"name":"token_id","in":"path"}],"responses":{"200":{"description":"API Key successfully deleted.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["success","message"]}}}},"403":{"description":"Access denied.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"404":{"description":"API Key not found.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}},"500":{"description":"Internal server error.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","example":"https://api.eaas.autosec.network/#tag/api-key-management/DELETE/apikeys/{token_id}"},"status":{"type":"integer","minimum":100,"maximum":599,"example":400},"title":{"type":"string","example":"Bad Request"},"detail":{"type":"string","example":"Request validation failed"},"instance":{"type":"string","example":"/v0/apikeys"},"errors":{"type":"array","items":{"nullable":true}}},"required":["type","status","title"]}}}}}},"get":{"tags":["API Key Management"],"description":"Get a specific Api Key by its token ID.","parameters":[{"schema":{"type":"string","minLength":22,"maxLength":22},"required":true,"name":"token_id","in":"path"}],"responses":{"200":{"description":"Returns the specific API key if permissions allow access.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Name for the API key"},"expires":{"type":"string","nullable":true,"format":"date-time","description":"Expiration date and time. Defaults to 90 days from now","example":"1970-01-01T00:00:00.000Z"},"keyringsPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"apikeysPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"keyrings":{"type":"object","additionalProperties":{"type":"object","properties":{"r_datakeys":{"type":"string","enum":["None","Read","Write","Admin"],"default":"Read"},"r_encrypt":{"type":"boolean","default":true},"r_decrypt":{"type":"boolean","default":false},"r_rewrap":{"type":"boolean","default":true},"r_sign":{"type":"boolean","default":true},"r_verify":{"type":"boolean","default":true},"r_hmac":{"type":"boolean","default":true}},"description":"Permissions for the API key"},"default":{}},"token_id":{"type":"string","minLength":22,"maxLength":22},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"expired":{"type":"boolean"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["name","token_id","created","lastRotation","expired","lastModified"]}}}}}}},"/apikeys":{"get":{"tags":["API Key Management"],"description":"Get a list of Api Keys.","responses":{"200":{"description":"Depending on key permissions, list all api keys, or fallback to itself.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Name for the API key"},"expires":{"type":"string","nullable":true,"format":"date-time","description":"Expiration date and time. Defaults to 90 days from now","example":"1970-01-01T00:00:00.000Z"},"keyringsPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"apikeysPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"keyrings":{"type":"object","additionalProperties":{"type":"object","properties":{"r_datakeys":{"type":"string","enum":["None","Read","Write","Admin"],"default":"Read"},"r_encrypt":{"type":"boolean","default":true},"r_decrypt":{"type":"boolean","default":false},"r_rewrap":{"type":"boolean","default":true},"r_sign":{"type":"boolean","default":true},"r_verify":{"type":"boolean","default":true},"r_hmac":{"type":"boolean","default":true}},"description":"Permissions for the API key"},"default":{}},"token_id":{"type":"string","minLength":22,"maxLength":22},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"expired":{"type":"boolean"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["name","token_id","created","lastRotation","expired","lastModified"]}}}}}}}},"/keyrings":{"get":{"tags":["Keyring Management"],"description":"Get a list of keyrings.","responses":{"200":{"description":"Depending on key permissions, list all keyrings, or fallback to those the key has access to.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"key":{"anyOf":[{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":1280},"hash":{"type":"string","enum":["sha1","md5-sha1","DSA-SHA1","RSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":2048},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":3072},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":4096},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":256},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":384},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":521},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["hmac"]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ed25519","x25519"]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":512},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":768},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":1024},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":44},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":65},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":87},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}]},"hash":{"type":"string","enum":["DSA-SHA","DSA-SHA1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","ecdsa-with-SHA1","md4","md5","md5-sha1","sha1","sha224","sha256","sha384","sha512"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}],"default":512},"hash":{"type":"string","enum":["sha1","DSA-SHA","DSA-SHA1","RSA-SHA1","sha224","RSA-SHA224","sha256","RSA-SHA256","sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["falcon"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[1024]}],"default":1024},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]}]},"rotation":{"type":"object","properties":{"time":{"type":"object","properties":{"enabled":{"type":"boolean"},"cron":{"type":"array","items":{"type":"string","minLength":1,"default":"0 0 1 1 *"}},"next":{"type":"string","nullable":true,"format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["enabled","cron","next"]},"count":{"type":"object","properties":{"enabled":{"type":"boolean"},"threshold":{"type":"string","nullable":true,"pattern":"^d+$","default":"4294967296"},"current":{"type":"string","pattern":"^d+$","example":"0"}},"required":["enabled","current"]},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["time","count","lastRotation"]},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["name","key","rotation","created","lastModified"]}}}}}}}},"/random":{"post":{"tags":["Free"],"security":[],"description":"This endpoint returns high-quality random bytes of the specified length","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"bytes":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":65536,"description":"Specifies the number of bytes to return","example":32},"format":{"type":"string","enum":["hex","base64","base64url","raw"],"description":"Specifies the output encoding"},"source":{"type":"string","enum":["lavarand","platform","all"],"default":"lavarand","description":"Specifies the source of the requested bytes. `lavarand`, the default, sources from Cloudflare's physical sources of entropy. `platform` sources bytes from the platform's entropy source. `all` mixes bytes from all available sources."},"sink":{"type":"boolean","default":false,"description":"When true, continuously streams random bytes in chunks of the specified `bytes` size until the client disconnects. Uses `application/octet-stream` for `raw` format, or `text/plain` with each line containing a formatted chunk."}},"required":["bytes","format"]}}}},"responses":{"200":{"description":"Returns high-quality random bytes","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"string","example":"0000000000000000000000000000000000000000000000000000000000000000"},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}]}},"required":["success","result"]}]}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"text/plain":{"schema":{"type":"string","description":"Streaming text output of formatted random bytes, one chunk per line"}}}}}}},"/stats/language":{"get":{"tags":["Stats"],"security":[],"description":"Returns the top 20 browser-reported languages and their percentage share of visitor sessions. Each session is counted once to avoid inflating individual users, and results are weighted to account for adaptive sampling.","responses":{"200":{"description":"Languages sorted by share of sessions, from most to least common.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","minLength":1,"example":"en"},"trafficPercentage":{"type":"number","minimum":0,"maximum":100}},"required":["language","trafficPercentage"]},"minItems":1,"maxItems":20}}}}}}}}}