{"openapi":"3.0.0","info":{"title":"EaaS API","description":"***Undergoing rearchitect/rewrite***\n\nInspired by Hashicorp Vault Transit, powered by Bitwarden Secrets Manager, node:crypto, and Web Crypto and runs fully on Cloudflare Workers. No data stored - just key management with pass-through encrypt/decrypt, and optional per-request wrapping for MITM/TLS inspection compliance.","contact":{"name":"Issues","url":"https://github.com/autosec-network/eaas/issues"},"version":"0.0.0"},"servers":[{"url":"https://api.eaas.autosec.network/v0"},{"url":"https://{hostvar1}.api.eaas.autosec.network/v0","variables":{"hostvar1":{"default":"preview"}}}],"security":[{"ApiToken":[]}],"components":{"securitySchemes":{"ApiToken":{"type":"http","scheme":"bearer"}},"schemas":{},"parameters":{}},"paths":{"/noise":{"post":{"tags":["Noise Pipe"],"description":"Initiate a Noise_XX_25519_ChaChaPoly_SHA256 pipe. Sends handshake message 1 (-> e) and receives message 2 (<- e, ee, s, es).","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ephemeral_public":{"anyOf":[{"type":"string"},{"type":"string"},{"type":"string"}],"description":"Client ephemeral X25519 public key (32 bytes, hex/base64/base64url)"},"payload":{"anyOf":[{"type":"string"},{"type":"string"},{"type":"string"}],"description":"Optional plaintext payload to encrypt in the handshake"},"ttl":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":3600,"description":"Requested pipe TTL in seconds (capped at server max)"}},"required":["ephemeral_public"]}}}},"responses":{"200":{"description":"Pipe created, handshake message 2 returned","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"pipe_id":{"type":"string","description":"Durable Object ID for this pipe"},"message":{"type":"string","description":"Handshake message 2 (base64url-encoded)"},"server_static_public":{"type":"string","description":"Server static X25519 public key (base64url-encoded)"}},"required":["success","pipe_id","message","server_static_public"]}}}}}}},"/noise/:pipeId":{"put":{"tags":["Noise Pipe"],"description":"Finalize the Noise_XX handshake by sending message 3 (-> s, se). After this, the pipe is in transport mode.","parameters":[{"schema":{"type":"string","minLength":1,"description":"Pipe ID from the init response"},"required":true,"description":"Pipe ID from the init response","name":"pipeId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"anyOf":[{"type":"string"},{"type":"string"},{"type":"string"}],"description":"Handshake message 3 (hex/base64/base64url)"}},"required":["message"]}}}},"responses":{"200":{"description":"Handshake complete, pipe in transport mode","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"handshake_hash":{"type":"string","description":"Handshake hash for channel binding (base64url-encoded)"},"payload":{"type":"string","description":"Decrypted payload from message 3 (if any)"}},"required":["success","handshake_hash"]}}}}}},"delete":{"tags":["Noise Pipe"],"description":"Tear down a noise pipe immediately, destroying all session state.","parameters":[{"schema":{"type":"string","minLength":1,"description":"Pipe ID"},"required":true,"description":"Pipe ID","name":"pipeId","in":"path"}],"responses":{"200":{"description":"Pipe destroyed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}}}}},"/random":{"post":{"tags":["Free"],"security":[],"description":"This endpoint returns high-quality random bytes of the specified length","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"bytes":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":65536,"description":"Specifies the number of bytes to return","example":32},"format":{"type":"string","enum":["hex","base64","base64url","raw"],"description":"Specifies the output encoding"},"source":{"type":"string","enum":["lavarand","platform","all"],"default":"lavarand","description":"Specifies the source of the requested bytes. `lavarand`, the default, sources from Cloudflare's physical sources of entropy. `platform` sources bytes from the platform's entropy source. `all` mixes bytes from all available sources."},"sink":{"type":"boolean","default":false,"description":"When true, continuously streams random bytes in chunks of the specified `bytes` size until the client disconnects. Uses `application/octet-stream` for `raw` format, or `text/plain` with each line containing a formatted chunk."}},"required":["bytes","format"]}}}},"responses":{"200":{"description":"Returns high-quality random bytes","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"string","example":"0000000000000000000000000000000000000000000000000000000000000000"},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}]}},"required":["success","result"]}]}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}},"text/plain":{"schema":{"type":"string","description":"Streaming text output of formatted random bytes, one chunk per line"}}}}}}},"/stats/language":{"get":{"tags":["Stats"],"security":[],"description":"Returns the top 20 browser-reported languages and their percentage share of visitor sessions. Each session is counted once to avoid inflating individual users, and results are weighted to account for adaptive sampling.","responses":{"200":{"description":"Languages sorted by share of sessions, from most to least common.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","minLength":1,"example":"en"},"trafficPercentage":{"type":"number","minimum":0,"maximum":100}},"required":["language","trafficPercentage"]},"minItems":1,"maxItems":20}}}}}}}}}