{"openapi":"3.0.0","info":{"title":"EaaS API","contact":{"name":"Issues","url":"https://github.com/autosec-network/eaas/issues"},"version":"0.0.0"},"servers":[{"url":"https://api.eaas.autosec.network/v0"},{"url":"https://{hostvar1}.api.eaas.autosec.network/v0","variables":{"hostvar1":{"default":"preview"}}}],"security":[{"ApiToken":[]}],"components":{"securitySchemes":{"ApiToken":{"type":"http","scheme":"bearer"}},"schemas":{"ApikeyEditable":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Name for the API key"},"expires":{"type":"string","nullable":true,"format":"date-time","description":"Expiration date and time. Defaults to 90 days from now","example":"1970-01-01T00:00:00.000Z"},"keyringsPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"apikeysPermission":{"type":"string","enum":["None","Read","Write","Admin"],"default":"None"},"keyrings":{"type":"object","additionalProperties":{"type":"object","properties":{"r_datakeys":{"type":"string","enum":["None","Read","Write","Admin"],"default":"Read"},"r_encrypt":{"type":"boolean","default":true},"r_decrypt":{"type":"boolean","default":false},"r_rewrap":{"type":"boolean","default":true},"r_sign":{"type":"boolean","default":true},"r_verify":{"type":"boolean","default":true},"r_hmac":{"type":"boolean","default":true}},"description":"Permissions for the API key"},"default":{}}},"required":["name"]},"ApikeyOutput":{"allOf":[{"$ref":"#/components/schemas/ApikeyEditable"},{"type":"object","properties":{"token_id":{"type":"string","minLength":1},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"expired":{"type":"boolean"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["token_id","created","lastRotation","expired","lastModified"]}]},"CreateApikeyOutput":{"allOf":[{"$ref":"#/components/schemas/ApikeyOutput"},{"type":"object","properties":{"token":{"type":"string","minLength":1,"description":"The generated API token"}},"required":["token"]}]},"KeyringEditable":{"type":"object","properties":{"name":{"type":"string"},"key":{"anyOf":[{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":1280},"hash":{"type":"string","enum":["sha1","md5-sha1","DSA-SHA1","RSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":2048},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":3072},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["rsassa-pkcs1-v1_5","rsa-pss","rsa-oaep"]},"size":{"type":"integer","minimum":256,"maximum":16384,"default":4096},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":256},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":384},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ecdsa","ecdh"]},"size":{"anyOf":[{"type":"number","enum":[256]},{"type":"number","enum":[384]},{"type":"number","enum":[521]}],"default":521},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["hmac"]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["aes-ctr","aes-cbc","aes-gcm","aes-kw"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ed25519","x25519"]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":512},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":768},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-kem"]},"size":{"anyOf":[{"type":"number","enum":[512]},{"type":"number","enum":[768]},{"type":"number","enum":[1024]}],"default":1024},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":44},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":65},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["ml-dsa"]},"size":{"anyOf":[{"type":"number","enum":[44]},{"type":"number","enum":[65]},{"type":"number","enum":[87]}],"default":87},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}]},"hash":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"]}},"required":["algorithm","size","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":128},"hash":{"type":"string","enum":["sha256","RSA-SHA256"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":192},"hash":{"type":"string","enum":["sha384","RSA-SHA384"]}},"required":["algorithm","hash"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["slh-dsa-sha2-s","slh-dsa-sha2-f","slh-dsa-shake-s","slh-dsa-shake-f"]},"size":{"anyOf":[{"type":"number","enum":[128]},{"type":"number","enum":[192]},{"type":"number","enum":[256]}],"default":256},"hash":{"type":"string","enum":["sha512","RSA-SHA512"]}},"required":["algorithm","hash"]}]},"rotation":{"type":"object","properties":{"time":{"type":"object","properties":{"enabled":{"type":"boolean"},"cron":{"type":"array","items":{"type":"string","minLength":1,"default":"0 0 1 1 *"}}},"required":["enabled","cron"]},"count":{"type":"object","properties":{"enabled":{"type":"boolean"},"threshold":{"type":"string","pattern":"^d+$","default":"4294967296"}},"required":["enabled"]}},"required":["time","count"]}},"required":["name","key","rotation"]},"KeyringOutput":{"allOf":[{"$ref":"#/components/schemas/KeyringEditable"},{"type":"object","properties":{"rotation":{"type":"object","properties":{"time":{"type":"object","properties":{"enabled":{"type":"boolean"},"cron":{"type":"array","items":{"type":"string","minLength":1,"default":"0 0 1 1 *"}},"next":{"type":"string","nullable":true,"format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["enabled","cron","next"]},"count":{"type":"object","properties":{"enabled":{"type":"boolean"},"threshold":{"type":"string","pattern":"^d+$","default":"4294967296"},"current":{"type":"string","pattern":"^d+$","example":"0"}},"required":["enabled","current"]},"lastRotation":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["time","count","lastRotation"]},"created":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"},"lastModified":{"type":"string","format":"date-time","example":"1970-01-01T00:00:00.000Z"}},"required":["created","lastModified"]}]},"EncryptEmbedOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, base64 encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA==.YWVzLWdjbQ==.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, base64url encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA.YWVzLWdjbQ.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, hex encoded.","example":"0.00000000000000000000000000000000.6165732d67636d.323536.000000000000000000000000.0000000000000000000000000000000000000000000000000000000000000000.00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"}},"required":["value"]}]}},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, base64 encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA==.YWVzLWdjbQ==.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, base64url encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA.YWVzLWdjbQ.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The encrypted text to store, hex encoded.","example":"0.00000000000000000000000000000000.6165732d67636d.323536.000000000000000000000000.0000000000000000000000000000000000000000000000000000000000000000.00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"}},"required":["value"]}]}},"required":["success","result"]},"EncryptEmbedInput":{"anyOf":[{"type":"object","properties":{"batch_input":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"type":"string","description":"Specifies the utf8 encoded input data","example":"Hello world"},"inputFormat":{"type":"string","enum":["utf8"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"type":"string","description":"Specifies the hex encoded input data","example":"48656c6c6f20776f726c64"},"inputFormat":{"type":"string","enum":["hex"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"anyOf":[{"type":"string","description":"Specifies the base64 encoded input data","example":"SGVsbG8gd29ybGQ="},{"type":"string","description":"Specifies the base64url encoded input data","example":"SGVsbG8gd29ybGQ"}]},"inputFormat":{"type":"string","enum":["base64"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]}]},"minItems":1}},"required":["batch_input"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"type":"string","description":"Specifies the utf8 encoded input data","example":"Hello world"},"inputFormat":{"type":"string","enum":["utf8"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"type":"string","description":"Specifies the hex encoded input data","example":"48656c6c6f20776f726c64"},"inputFormat":{"type":"string","enum":["hex"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"algorithm":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"bitStrength":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"outputFormat":{"type":"string","enum":["base64","base64url","hex"],"description":"Specifies the output encoding","example":"base64"},"input":{"anyOf":[{"type":"string","description":"Specifies the base64 encoded input data","example":"SGVsbG8gd29ybGQ="},{"type":"string","description":"Specifies the base64url encoded input data","example":"SGVsbG8gd29ybGQ"}]},"inputFormat":{"type":"string","enum":["base64"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","algorithm","bitStrength","outputFormat","input","inputFormat"]}]},"EncryptUploadOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, base64 encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA==.YWVzLWdjbQ==.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="},"filename":{"type":"string"}},"required":["value","filename"]}},{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, base64 encoded.","example":"0.AAAAAAAAAAAAAAAAAAAAAA==.YWVzLWdjbQ==.MjU2.AAAAAAAAAAAAAAAA.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=.AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="},"filename":{"type":"string"}},"required":["value","filename"]}]}},"required":["success","result"]},"EncryptUploadInput":{"type":"object","properties":{"files":{"anyOf":[{"type":"array","items":{"type":"string","format":"binary"},"minItems":1},{"type":"string","format":"binary"}]}},"required":["files"]},"DecryptEmbedOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, utf8 encoded.","example":"Hello world"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, base64 encoded.","example":"SGVsbG8gd29ybGQ="}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, base64url encoded.","example":"SGVsbG8gd29ybGQ"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, hex encoded.","example":"48656c6c6f20776f726c64"}},"required":["value"]}]}},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, utf8 encoded.","example":"Hello world"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, base64 encoded.","example":"SGVsbG8gd29ybGQ="}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, base64url encoded.","example":"SGVsbG8gd29ybGQ"}},"required":["value"]},{"type":"object","properties":{"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"},"value":{"type":"string","description":"The decrypted plaintext, hex encoded.","example":"48656c6c6f20776f726c64"}},"required":["value"]}]}},"required":["success","result"]},"DecryptEmbedInput":{"anyOf":[{"type":"object","properties":{"batch_input":{"type":"array","items":{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"outputFormat":{"type":"string","enum":["base64","base64url","hex","utf8"],"description":"Specifies the output encoding","example":"utf8"},"input":{"type":"string","description":"Specifies the encrypted ciphertext data in the format output by cipherText0()","example":"0.MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA.QUVTLUdDTQ.MjU2.cmFuZG9tSVY.Y2lwaGVyZGF0YQ.c2lnbmF0dXJl"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","outputFormat","input"]},"minItems":1}},"required":["batch_input"]},{"type":"object","properties":{"keyringName":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"outputFormat":{"type":"string","enum":["base64","base64url","hex","utf8"],"description":"Specifies the output encoding","example":"utf8"},"input":{"type":"string","description":"Specifies the encrypted ciphertext data in the format output by cipherText0()","example":"0.MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA.QUVTLUdDTQ.MjU2.cmFuZG9tSVY.Y2lwaGVyZGF0YQ.c2lnbmF0dXJl"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["keyringName","outputFormat","input"]}]},"DecryptUploadOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","description":"The decrypted plaintext data.","example":"Hello world"},"filename":{"type":"string"}},"required":["value","filename"]}},{"type":"object","properties":{"value":{"type":"string","description":"The decrypted plaintext data.","example":"Hello world"},"filename":{"type":"string"}},"required":["value","filename"]}]}},"required":["success","result"]},"DecryptUploadInput":{"type":"object","properties":{"files":{"anyOf":[{"type":"array","items":{"type":"string","format":"binary"},"minItems":1},{"type":"string","format":"binary"}]}},"required":["files"]},"HashEmbedOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, hex encoded.","example":"64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c"},"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"}},"required":["value"]},"minItems":1},{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, hex encoded.","example":"64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c"},"reference":{"type":"string","description":"The value of the `reference` field from the corresponding item in the request"}},"required":["value"]}]}},"required":["success","result"]},"HashEmbedInput":{"anyOf":[{"type":"object","properties":{"batch_input":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"type":"string","description":"Specifies the utf8 encoded input data","example":"Hello world"},"format":{"type":"string","enum":["utf8"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"type":"string","description":"Specifies the hex encoded input data","example":"48656c6c6f20776f726c64"},"format":{"type":"string","enum":["hex"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"anyOf":[{"type":"string","description":"Specifies the base64 encoded input data","example":"SGVsbG8gd29ybGQ="},{"type":"string","description":"Specifies the base64url encoded input data","example":"SGVsbG8gd29ybGQ"}]},"format":{"type":"string","enum":["base64"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]}]},"minItems":1}},"required":["batch_input"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"type":"string","description":"Specifies the utf8 encoded input data","example":"Hello world"},"format":{"type":"string","enum":["utf8"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"type":"string","description":"Specifies the hex encoded input data","example":"48656c6c6f20776f726c64"},"format":{"type":"string","enum":["hex"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]},{"type":"object","properties":{"algorithm":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"input":{"anyOf":[{"type":"string","description":"Specifies the base64 encoded input data","example":"SGVsbG8gd29ybGQ="},{"type":"string","description":"Specifies the base64url encoded input data","example":"SGVsbG8gd29ybGQ"}]},"format":{"type":"string","enum":["base64"],"description":"Specifies the input encoding"},"reference":{"type":"string","description":"An optional string that will be present in the reference field on the corresponding item in the response, to assist in understanding which result corresponds to a particular input"}},"required":["algorithm","input","format"]}]},"HashUploadOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, hex encoded.","example":"64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c"},"filename":{"type":"string"}},"required":["value","filename"]}},{"type":"object","properties":{"value":{"type":"string","description":"The hash of the input data, hex encoded.","example":"64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c"},"filename":{"type":"string"}},"required":["value","filename"]}]}},"required":["success","result"]},"HashUploadInput":{"type":"object","properties":{"files":{"anyOf":[{"type":"array","items":{"type":"string","format":"binary"},"minItems":1},{"type":"string","format":"binary"}]}},"required":["files"]},"RandomOutput":{"type":"object","properties":{"success":{"type":"boolean"},"result":{"anyOf":[{"type":"string","example":"0000000000000000000000000000000000000000000000000000000000000000"},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA="},{"type":"string","example":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"}]}},"required":["success","result"]},"RandomInput":{"type":"object","properties":{"bytes":{"type":"integer","minimum":0,"exclusiveMinimum":true,"maximum":65536,"description":"Specifies the number of bytes to return","example":32},"format":{"type":"string","enum":["hex","base64","base64url"],"description":"Specifies the output encoding"},"source":{"type":"string","enum":["lavarand","platform","all"],"default":"lavarand","description":"Specifies the source of the requested bytes. `lavarand`, the default, sources from Cloudflare's physical sources of entropy. `platform` sources bytes from the platform's entropy source. `all` mixes bytes from all available sources."}},"required":["bytes","format"]}},"parameters":{}},"paths":{"/apikeys":{"post":{"tags":["apikey management"],"description":"Create a new API key.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApikeyEditable"}}}},"responses":{"201":{"description":"API key created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApikeyOutput"}}}},"400":{"description":"Bad request - invalid keyrings.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Insufficient permissions.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}},"get":{"tags":["apikey management"],"description":"Get a list of Api Keys.","responses":{"200":{"description":"Depending on key permissions, list all api keys, or fallback to itself.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApikeyOutput"}}}}}}}},"/apikeys/{token_id}":{"get":{"tags":["apikey management"],"description":"Get a specific Api Key by its token ID.","parameters":[{"schema":{"type":"string","minLength":1},"required":true,"name":"token_id","in":"path"}],"responses":{"200":{"description":"Returns the specific API key if permissions allow access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApikeyOutput"}}}}}}},"/keyrings":{"post":{"tags":["keyring management"],"description":"Create a new keyring.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyringEditable"}}}},"responses":{"200":{"description":"The new keyring created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyringOutput"}}}}}},"get":{"tags":["keyring management"],"description":"Get a list of keyrings.","responses":{"200":{"description":"Depending on key permissions, list all keyrings, or fallback to those the key has access to.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyringOutput"}}}}}}}},"/encrypt":{"post":{"description":"This endpoint returns the cryptographic hash of given data using the specified algorithm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EncryptEmbedInput"}}}},"responses":{"200":{"description":"Returns the cryptographic hash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EncryptEmbedOutput"}}}}}}},"/encrypt/{keyringName}/{algorithm}/{bitStrength}":{"post":{"description":"This endpoint returns the cryptographic hash of uploaded file(s) using the specified algorithm","parameters":[{"schema":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"required":true,"description":"Specifies the name of the key ring to use, case insensitive","name":"keyringName","in":"path"},{"schema":{"type":"string","enum":["aes-cbc","aes-ctr","aes-gcm","chacha20-poly1305"],"description":"Specifies the encryption algorithm to use","example":"aes-gcm"},"required":true,"description":"Specifies the encryption algorithm to use","name":"algorithm","in":"path"},{"schema":{"type":"string","enum":["128","192","256"],"description":"Specifies the bit strength of the encryption algorithm","example":"256"},"required":true,"description":"Specifies the bit strength of the encryption algorithm","name":"bitStrength","in":"path"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/EncryptUploadInput"}}}},"responses":{"200":{"description":"Returns the cryptographic hash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EncryptUploadOutput"}}}}}}},"/decrypt":{"post":{"description":"This endpoint decrypts ciphertext produced by the encrypt endpoint, returning the original plaintext","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecryptEmbedInput"}}}},"responses":{"200":{"description":"Returns the decrypted plaintext","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecryptEmbedOutput"}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["success","errors"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["success","errors"]}}}}}}},"/decrypt/{keyringName}":{"post":{"description":"This endpoint decrypts uploaded files containing ciphertext produced by the encrypt endpoint","parameters":[{"schema":{"type":"string","minLength":1,"description":"Specifies the name of the key ring to use, case insensitive"},"required":true,"description":"Specifies the name of the key ring to use, case insensitive","name":"keyringName","in":"path"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DecryptUploadInput"}}}},"responses":{"200":{"description":"Returns the decrypted plaintext","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecryptUploadOutput"}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["success","errors"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["success","errors"]}}}}}}},"/hash":{"post":{"tags":["free"],"security":[],"description":"This endpoint returns the cryptographic hash of given data using the specified algorithm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashEmbedInput"}}}},"responses":{"200":{"description":"Returns the cryptographic hash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashEmbedOutput"}}}}}}},"/hash/{algorithm}":{"post":{"tags":["free"],"security":[],"description":"This endpoint returns the cryptographic hash of uploaded file(s) using the specified algorithm","parameters":[{"schema":{"type":"string","enum":["md4","md5","sha1","sha224","sha256","sha384","sha512","md5-sha1","RSA-MD5","RSA-SHA1","RSA-SHA224","RSA-SHA256","RSA-SHA384","RSA-SHA512","DSA-SHA","DSA-SHA1","ecdsa-with-SHA1"],"description":"Specifies the hash algorithm to use","example":"sha256"},"required":true,"description":"Specifies the hash algorithm to use","name":"algorithm","in":"path"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/HashUploadInput"}}}},"responses":{"200":{"description":"Returns the cryptographic hash","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashUploadOutput"}}}}}}},"/random":{"post":{"tags":["free"],"security":[],"description":"This endpoint returns high-quality random bytes of the specified length","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RandomInput"}}}},"responses":{"200":{"description":"Returns high-quality random bytes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RandomOutput"}}}}}}}}}